.main-header {
    text-align: center;
    font-size: large;
    align-items: center;
    background-color:rgb(0,123,255);
}

.main-footer {
    text-align: center;
    align-items: center;
    background-color:rgb(0,123,255);
}