.main-header {
    margin-bottom: 1em;
    text-align: center;
    font-size: large;
    align-items: center;
    background-color:rgb(24,143,255);
}

.main-footer {
    margin-top: 1em;
    text-align: center;
    align-items: center;
    background-color:rgb(24,143,255);
}